.calculator {
  .display {
    @apply flex flex-col items-end p-3;
  }

  .expression {
    @apply text-2xl font-bold text-muted-foreground min-h-[3rem];
  }
  .result {
    @apply text-6xl;
  }

  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
  }

  .button {
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

    &.sum {
      @apply bg-red-500;
    }

    &.number {
      @apply bg-zinc-900;
    }
  }
}
